Repository PM4-FS25-TechRadar/skopos, pull requests merged in 2025-04, with the labels that each got.

#52 feat: add Radars to sidebar navigation and create radars placeholder …
  src/main/frontend/src/App.vue
  src/main/frontend/src/components/radars/Radars.vue
  src/main/frontend/src/components/radars/radars.css
  src/main/frontend/src/components/sidebar/Sidebar.vue
Labels: frontend, feature

#47 Feat/entities endpoints
  .quarkus/cli/plugins/quarkus-cli-catalog.json
  src/main/java/ch/sobrado/radar/Quadrant.java
  src/main/java/ch/sobrado/radar/QuadrantResource.java
  src/main/java/ch/sobrado/radar/Radar.java
  src/main/java/ch/sobrado/radar/RadarEntry.java
  src/main/java/ch/sobrado/radar/RadarGroup.java
  src/main/java/ch/sobrado/radar/RadarResource.java
  src/main/java/ch/sobrado/radar/RadarView.java
  src/main/java/ch/sobrado/radar/Ring.java
  src/main/java/ch/sobrado/radar/RingResource.java
  src/main/resources/db/migration/R__current_year.sql
  src/main/resources/db/migration/V7__create_rings_quadrants_radar_group.sql
  src/main/resources/db/migration/V8__create_ring_quadrant_order.sql
  src/test/java/ch/sobrado/radar/QuadrantResourceTest.java
  src/test/java/ch/sobrado/radar/RadarsResourceTest.java
  src/test/java/ch/sobrado/radar/RingResourceTest.java
  src/test/java/ch/sobrado/radar/TestData.java
Labels: backend, feature

#55 Feat/radar management
  src/main/frontend/package-lock.json
  src/main/frontend/package.json
  src/main/frontend/src/App.vue
  src/main/frontend/src/assets/app.css
  src/main/frontend/src/components/radar/Radar.vue
  src/main/frontend/src/components/radars/RadarCard.vue
  src/main/frontend/src/components/radars/RadarEditor.vue
  src/main/frontend/src/components/radars/RadarsList.vue
  src/main/frontend/src/components/radars/editors/QuadrantListEditor.vue
  src/main/frontend/src/components/radars/editors/RingListEditor.vue
  src/main/frontend/src/components/radars/editors/listEditor.css
  src/main/frontend/src/components/radars/radarCard.css
  src/main/frontend/src/components/radars/radarEditor.css
  src/main/frontend/src/components/radars/radarsList.css
  src/main/frontend/src/components/sidebar/Sidebar.vue
  src/main/frontend/src/components/ui/ConfirmModal.vue
  src/main/frontend/src/components/ui/confirmModal.css
  src/main/frontend/src/services/radarService.js
  src/main/frontend/src/utils/deepClone.js
  src/main/frontend/src/utils/uuid.js
Labels: frontend, feature

#70 Doc: First draft of arc42 doc
  README.md
  documentation/Datenmodell.png
  documentation/arc42-documentation.md
Labels: doc
